.custom-svg-scrollbar {
  display: flex;
}

.container {
  flex: 1;
  overflow: auto;
  background-color: lightblue;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.container::-webkit-scrollbar { /* WebKit */
  width: 0px;
}

.scrollbar {
  flex-shrink: 0;
  flex-grow: 0;
}